/*图片轮换*/
#slideBox {
	width:350px;
	height:228px;
	overflow:hidden;
	position:relative;
	margin:1px auto;
}
#slideBox ul#show_pic {
	margin:0;
	padding:0;
	list-style:none;
	height:220px;
	width:10000px;
	position:absolute;
}
#slideBox ul#show_pic li {
	float:left;
	margin:0;
	padding:0;
	height:195px;
}
#slideBox ul#show_pic li img {
	display:block;
}
#iconBall {
	position:absolute;
	bottom:0;
	right:0;
}
#iconBall li {
	float:left;
	color:#7a7a7a;
	width:32px;
	height:28px;
	line-height:28px;
	cursor:pointer;
	text-align:center;
	font-family:arial;
	font-size:12px;
	padding-top:4px;
}
#iconBall li.active {
	background:url(../images/iconbg.png) no-repeat;
	color:#fff;
}
#slideText {
	width:350px;
	height:28px;
	background-color:#ebebeb;
	color:#fff;
	position:absolute;
	left:0px;
	bottom:0px;

}
#textBall {
	position:absolute;
	left:10px;
	bottom:3px;
}
#textBall li {
	float:left;
	cursor:pointer;
	display:none;
	color:#ccc;
	font-size:12px;
	font-family:微软雅黑;
}
#textBall li.active {
	display:block;
}
#textBall li a {
	text-decoration:none;
	color:#666;
}
p,p a{font-size:12px;color:#666;}